doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    // Latest compiled and minified CSS
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', rel='stylesheet', integrity='sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==', crossorigin='anonymous')
    link(rel='stylesheet',href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
  body
    
    style.
      #about-section{
        margin-top: 100px;
      }
      .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        /* Set the fixed height of the footer here */
        height: 60px;
        background-color: #f5f5f5;
      }
    .navbar.navbar-default.navbar-fixed-top
      .container 
        .navbar-header 
          .navbar-brand#navbar-title Rooms Without Walls
        .navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            li 
              a About
            li 
              a Get Involved
            li 
              a Founders
    .container-fluid
      .row
        .col-md-6.col-md-offset-3#about-section
          h1 About
          p Rooms without walls is a organization that mentors children who are hospitalized for long periods of time. Rooms without walls is a organization that mentors children who are hospitalized for long periods of time. Rooms without walls is a organization that mentors children who are hospitalized for long periods of time. Rooms without walls is a organization that mentors children who are hospitalized for long periods of time.
      .row
        .col-md-6.col-md-offset-3
          h1 Get Involved
          p You can get involved with Rooms Without Walls by doing xzy. You can get involved with Rooms Without Walls by doing xzy. You can get involved with Rooms Without Walls by doing xzy. You can get involved with Rooms Without Walls by doing xzy. You can get involved with Rooms Without Walls by doing xzy. You can get involved with Rooms Without Walls by doing xzy. You can get involved with Rooms Without Walls by doing xzy. You can get involved with Rooms Without Walls by doing xzy. You can get involved with Rooms Without Walls by doing xzy. You can get involved with Rooms Without Walls by doing xzy.
      .row
        .col-md-6.col-md-offset-3
          h1 Founders
          p Rooms Without Walls was founded by ... Rooms Without Walls was founded by ...Rooms Without Walls was founded by ...Rooms Without Walls was founded by ...
       .row
    footer.footer
      .container
        center
          a(hef="https://twitter.com/kid2kid_")
            span.fa-stack.fa-lg
              i.fa.fa-circle-o.fa-stack-2x
              i.fa.fa-twitter.fa-stack-1x
          a(href="https://www.instagram.com/roomswithoutwalls_/")
            span.fa-stack.fa-lg
              i.fa.fa-circle-o.fa-stack-2x
              i.fa.fa-instagram.fa-stack-1x
        

    // jQuery (necessary for Bootstrap's JavaScript pluginsr
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js', integrity='sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==', crossorigin='anonymous')
